<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="page">
      <header class="header">
        <!-- Navbar -->
        <%- include("partials/__navbar.ejs") %>
      </header>
      <main>
        <section class="section">
          <h2 class="section__title">Checkout</h2>
          <h3 class="section__subtitle">The best lines happen offline.</h3>
          <div class="section__content">
            <div class="cart__container">
              <div class="cart__promotion">
                <img
                  src="https://s7g10.scene7.com/is/image/ktm/Vitpilen-Svartpilen-2022?$ktm_teaser_square$&wid=500&dpr=off"
                  alt=""
                  class="cart__promotion-image"
                />
              </div>
              <div class="cart">
                <div class="cart__purchases">
                  <div class="product">
                    <img
                      src="../images/models/motocross/tc65/tc65.jpeg"
                      alt=""
                      class="product__image"
                    />
                    <div class="product__details">
                      <h2 class="product__title">EE 5 | 2022</h2>
                      <p class="product__price">$ 4,599.00 USD</p>
                      <p class="product__quantity">Qty: 1</p>
                    </div>
                    <ion-icon
                      name="trash-outline"
                      class="product__icon"
                    ></ion-icon>
                  </div>
                  <div class="product">
                    <img
                      src="../images/models/motocross/tc65/tc65.jpeg"
                      alt=""
                      class="product__image"
                    />
                    <div class="product__details">
                      <h2 class="product__title">EE 5 | 2022</h2>
                      <p class="product__price">$ 4,599.00 USD</p>
                      <p class="product__quantity">Qty: 1</p>
                    </div>
                    <ion-icon
                      name="trash-outline"
                      class="product__icon"
                    ></ion-icon>
                  </div>
                  <div class="product">
                    <img
                      src="../images/models/motocross/tc65/tc65.jpeg"
                      alt=""
                      class="product__image"
                    />
                    <div class="product__details">
                      <h2 class="product__title">EE 5 | 2022</h2>
                      <p class="product__price">$ 4,599.00 USD</p>
                      <p class="product__quantity">Qty: 1</p>
                    </div>
                    <ion-icon
                      name="trash-outline"
                      class="product__icon"
                    ></ion-icon>
                  </div>
                  <div class="product">
                    <img
                      src="../images/models/motocross/tc65/tc65.jpeg"
                      alt=""
                      class="product__image"
                    />
                    <div class="product__details">
                      <h2 class="product__title">EE 5 | 2022</h2>
                      <p class="product__price">$ 4,599.00 USD</p>
                      <p class="product__quantity">Qty: 1</p>
                    </div>
                    <ion-icon
                      name="trash-outline"
                      class="product__icon"
                    ></ion-icon>
                  </div>
                  <div class="product">
                    <img
                      src="../images/models/motocross/tc65/tc65.jpeg"
                      alt=""
                      class="product__image"
                    />
                    <div class="product__details">
                      <h2 class="product__title">EE 5 | 2022</h2>
                      <p class="product__price">$ 4,599.00 USD</p>
                      <p class="product__quantity">Qty: 1</p>
                    </div>
                    <ion-icon
                      name="trash-outline"
                      class="product__icon"
                    ></ion-icon>
                  </div>
                </div>
                <div class="cart__total">
                  <p class="total__text">Total</p>
                  <p class="total__price">$ 99,999.99 USD</p>
                </div>
                <button class="cart__button">Proceed with checkout</button>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Footer -->
      <%- include("./partials/__footer.ejs") %>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
