<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="page">
      <header class="header">
        <!-- Navbar -->
        <nav class="navbar">
          <a href="/" class="navbar__link">
            <img
              src="/images/logo.svg"
              alt="Husqvarna Motorcycles Logo"
              class="logo navbar__logo"
            />
          </a>
          <ion-icon name="menu" class="navbar__icon"></ion-icon>
          <ul class="navbar__menu">
            <li class="navbar__item">
              <a href="/" class="navbar__link navbar__link_active" active>
                Home
              </a>
            </li>
            <li class="navbar__item">
              <a href="/models" class="navbar__link">Models</a>
            </li>
            <li class="navbar__item">
              <a href="/cart" class="navbar__link">Cart</a>
            </li>
            <li class="navbar__item">
              <a href="/login" class="navbar__link">Log in</a>
            </li>
            <li class="navbar__item">
              <a href="/signup" class="navbar__link">
                <span class="navbar__signup">Sign up</span>
              </a>
            </li>
          </ul>
        </nav>
      </header>
      <main>
        <section class="section">
          <h2 class="section__title">Checkout</h2>
          <h3 class="section__subtitle">The best lines happen offline.</h3>
          <div class="section__content cart">
            <div class="cart__image">
              <a href="" class="signup__link">
                <img
                  src="/images/logo-light.svg"
                  alt="Husqvarna Motorcycles Logo"
                  class="logo cart__logo"
                />
              </a>
            </div>
            <div class="items">
              
              <a href="#" class="cart__button">Complete your purchase</a>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer">
        <p class="footer__copyright">
          Copyright (c) JUBAAN 2022 | All Rights Reserved
        </p>
        <p class="footer__privacy-terms">
          Privacy Policy | Terms and Conditions
        </p>
      </footer>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
