.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 30px 30px;
}

.navbar__logo {
  width: 130px;
}

.navbar__icon {
  color: var(--color-red);
  height: 25px;
  width: 25px;
}

.navbar__menu {
  display: none;
}

@media only screen and (min-width: 525px) {
  .navbar__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__icon {
    display: none;
  }

  .navbar__item {
    margin-left: 15px;
  }

  .navbar__item:first-child {
    margin-left: 0;
  }

  .navbar__link {
    display: flex;
    align-items: center;
    color: var(--color-gray);
    text-transform: uppercase;
  }

  .navbar__link:hover {
    color: var(--color-dark);
  }

  .navbar__link_active {
    color: var(--color-dark);
  }

  .navbar__signup {
    padding: 7px 14px;
    color: var(--color-red);
    border: 1px solid var(--color-red);
    border-radius: 5px;
  }

  .navbar__signup:hover {
    background-color: var(--color-red);
    color: var(--color-light);
  }
}
