.section {
  margin: 50px 0 70px;
}

.section__title {
  font-family: var(--font-roboto-condensed);
  font-size: 24px;
  font-weight: var(--weight-bold);
  color: var(--color-red);
  margin-bottom: 5px;
  padding: 0 30px;
}

.section__subtitle {
  font-size: 16px;
  color: var(--color-gray);
  margin-bottom: 30px;
  padding: 0 30px;
}
